{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
</head>
<body>
    <div class="container">

        <div class="dashboard">
            <h2>Dashboard</h2>
            

            <h4 style=" margin-top: 150px;">Filtering Options</h4>
            

        </div>

        <div class="content">
            <h2>Stored Videos</h2>

            <table class = "tablebody">
                <tr>
                    <th> Index </th>
                    <th> Channel Title </th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Published At</th>
                    <th>Thumbnail URL</th>
                    
                </tr>
                {% for video in all_videos %}
                <tr>
                    <td>{{video.index}}</td>
                    <td>{{video.channel_title}}</td>
                    <td>{{video.video_title}}</td>
                    <td>{{video.video_description}}</td>
                    <td>{{video.date_time}}</td>
                    <td> <a target="_blank" href="{{video.thumbnail_url}}">{{video.thumbnail_url}}</a> </td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>