{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
</head>
<body>
    <div class="container">

        <div class="dashboard">
            <h2>Dashboard</h2>
            

            <h2 style=" margin-top: 150px;">Filtering Options</h4>
                
            <select name="" id="filter_videos">
                <option value="channel_title">channel_title from</option>
                <option value="video_title">video_title</option>
            </select>
            <br><br><br>

            <button onclick="helper()"> Filter Videos</button>

        </div>

        <div class="content">
            <h2>Stored Videos</h2>

            <table class = "tablebody">
                <tr>
                    <th> Index </th>
                    <th> Channel Title </th>
                    <th>Video Title</th>
                    <th>Description</th>
                    <th>Published At</th>
                    <th>Thumbnail URL</th>
                    
                </tr>
                {% for video in all_videos %}
                <tr>
                    <td>{{video.index}}</td>
                    <td>{{video.channel_title}}</td>
                    <td>{{video.video_title}}</td>
                    <td>{{video.video_description}}</td>
                    <td>{{video.date_time}}</td>
                    <td> <a target="_blank" href="{{video.thumbnail_url}}">{{video.thumbnail_url}}</a> </td>
                    
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script>
        function helper() {
            selectElement = document.getElementById('filter_videos');

            query = selectElement.value;

            url = 'http://127.0.0.1:8000/dashboard?sort=' + query
            location.href = url;
        }
    </script>
</body>
</html>