{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>
<body>
    <p class = "heading"> List of Videos Sorted in descending order of publishedAt Time</p>

    <p class = "heading"> Search Query Used : "official" </p>
    


    <table class = "tablebody">
        <tr>
            <th> Channel Title </th>
            <th>Title</th>
            <th>Description</th>
            <th>Published At</th>
            <th>Thumbnail URL</th>
            
        </tr>
        {% for i in response %}
        <tr>
            <td>{{i.snippet.channelTitle}}
            <td>{{i.snippet.title}}</td>
            <td>{{i.snippet.description}}</td>
            <td>{{i.snippet.publishedAt}}</td>
            <td> <a target="_blank" href="{{i.snippet.thumbnails.medium.url}}">{{i.snippet.thumbnails.medium.url}} </a> </td>
            
        </tr>
        {% endfor %}
    </table>

    <!-- The Page reloads after every 10 sec, and therefore API request is made asynchronously every 10 sec -->
    <script>
        window.setTimeout(function () {
            location.reload();
        }, 10000);
    </script>
    
</body>
</html>