@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    /* background: rgb(103,97,236); */
    /* background: linear-gradient(90deg, rgba(103,97,236,1) 0%, rgba(185,122,200,1) 43%, rgba(171,0,255,1) 100%); */
    /* font-family: OpenSans-Regular; */
    /* color: #808080 */
    font-family: 'Nunito', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 20% 80%;
}

.container .dashboard{
    color:white;
    background-color: #1d3557;
    height : auto;
    text-align: center;

}

.container .dashboard select{
    padding: 10px;
    border-radius: 40px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.container .dashboard button{
    padding: 10px;
    border-radius: 2px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color:lightgray;
    border:none;
    transition:1s;
}

.container .dashboard button:hover{
    background-color: #555555;
    color: white;
}

.container .content {
    text-align: center;
    padding: 1%;
}

.container .content h2{
    font-size: 2.5em;
}



.tablebody {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border-collapse: collapse;
    width: 85%;
    border-radius: 10px;
    text-align: center;
    border-radius: 20px;
    margin-left: 50px;
}

.tablebody td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    background-color: white;
}

.tablebody th{
    background-color:#212529;
    color: white;
}

.tablebody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.tablebody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
}

.tablebody tr:last-child {
    border: 0;
}